@import 'palette';
body {
    font-family: 'Montserrat', sans-serif;
    color: $xr-gray2;
}

.lead,
.section {
    letter-spacing: 0.3rem;
}

#header,
#footer, .even {
    color: $xr-gray0;
}

h2 {
    text-transform: uppercase;
}

.half-size {
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

#portfolio .glyphicon {
    font-size: 10rem;
}