#navbar img {
    height: 100%;
}

#portfolio img {
    width: 100%;
}

#skillset img,
#experience img {
    width: 10rem;
    max-width: 100%;
    transition: all ease .5s;
    border-radius: 2rem;
}

#experience .image-container {
    height: 20rem;
    img {
        width: 15rem;
        background-color: $mainLight;
        padding: 0.5rem;
        &:hover {
            //-webkit-filter: grayscale(0);
            border-radius: 0rem;
        }
    }
}

#skillset img:hover {
    cursor: context-menu;
}

#portfolio a:hover {
    cursor: zoom-in;
}

#experience img:hover {
    cursor: pointer;
}

//solves modal problem with images
.img-responsive {
    display: inline;
}