@import 'palette';
.navbar-custom {
    box-shadow: 0px 0px 10px 1px $xr-gray2;
    .navbar-brand {
        color: $mainDark;
        &:hover,
        &:focus {
            color: $mainClear;
        }
    }
    .navbar-nav {
        > li > a {
            color: $mainClear;
            &:hover,
            &:focus {
                color: $mainDark;
                background-color: $mainClear;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                background-color: darken($mainLight, 5%);
            }
        }
    }
    .navbar-toggle {
        border-radius: 2rem;
        border-color: transparent;
        &:hover {
            background-color: $mainDark;

        }
        .icon-bar {
            background-color: $mainClear;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $mainLight;
    }
}