//primary colors
$xr-red1:#ff5141;
$xr-orange1:#fe9141;
$xr-yellow1:#ffcf41;
$xr-lime1:#b1ff41;
$xr-green1:#5fff41;
$xr-aqua1:#3ffccd;
$xr-cyan1:#41dfff;
$xr-lightBlue1:#41b1ff;
$xr-darkBlue1:#3f6efc;
$xr-purple1:#8f41ff;
$xr-magenta1:#ef41ff;
$xr-pink1:#ff417f;
//light colors            
$xr-red0:#ff7866;
$xr-orange0:#fcb165;
$xr-yellow0:#ffe359;
$xr-lime0:#ccff66;
$xr-green0:#96ff73;
$xr-aqua0:#7efcd2;
$xr-cyan0:#70efff;
$xr-lightBlue0:#66c4ff;
$xr-darkBlue0:#5585ff;
$xr-purple0:#ac59ff;
$xr-magenta0:#f266ff;
$xr-pink0:#ff73ad;
//dark colors
$xr-red2:#bf3030;
$xr-orange2:#cc6633;
$xr-yellow2:#d9a336;
$xr-lime2:#87d936;
$xr-green2:#44d934;
$xr-aqua2:#23CCAC;
$xr-cyan2:#36bed9;
$xr-lightBlue2:#3695d9;
$xr-darkBlue2:#3651d9;
$xr-purple2:#6c36d9;
$xr-magenta2:#be36d9;
$xr-pink2:#d9365f;
//darker colors
$xr-red3:#992626;
$xr-orange3:#A65329;
$xr-yellow3:#B3862C;
$xr-lime3:#6FB32C;
$xr-green3:#38B32B;
$xr-aqua3:#16A585;
$xr-cyan3:#2C9CB3;
$xr-lightBlue3:#2C7BB3;
$xr-darkBlue3:#2C43B3;
$xr-purple3:#592CB3;
$xr-magenta3:#9C2CB3;
$xr-pink3:#B32C4E;
//grayscale
$xr-gray0:#f5f9fa;
$xr-gray1:#e1e4e5;
$xr-gray2:#4b4c4d;
$xr-gray3:#323333;
//page syles
$mainDark: $xr-gray3;
$mainLight: $xr-cyan2;
$mainClear: $xr-gray0;