.reset {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    line-height: 0 !important;
}

.fullW {
	width: 100% !important;
}