@import 'palette';
hr {
    height: 0.1rem;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $mainLight, rgba(0, 0, 0, 0));
}

.even {
    hr {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $mainClear, rgba(0, 0, 0, 0));
    }
}

.section hr {
    //height: 0.5rem;
}

.zoom-icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-inner {
    background-color: $mainDark;
    color: $mainClear;
    font-size: 2rem;
}

.tooltip.top .tooltip-arrow {
    border-top-color: $mainDark;
}