//@import 'reset';
//@import 'palette';
//@import 'navbar';
//@import 'squares';
@import 'nameAnimation';
@import 'images'



/*
$firstColor: $xr-cyan2;
$secondColor: $xr-orange1;
$gradientDark: linear-gradient($xr-gray0, $xr-gray1);
html, body, header, section, nav {
    background-color: $secondColor;
    //@extend .reset;
          @extend .fullW;

}

nav, .row, .container, .col-xs-12 {
      @extend .fullW;

}



.logo {
  height: 30vw;
  margin-top: 10rem;
  margin-bottom: 10vw;

}

header .container {
    background: linear-gradient($xr-gray2, $xr-gray3);
    color: $firstColor;
    padding-bottom: 100px;
    width: 100%;
}


.name {
    font-size: 8vw;
    font-weight: 700;
    text-transform: uppercase;
}

.lead {
    font-size: 3.5vw;
}

hr {
    max-width: 100%;
    border: 0;
    height: 1vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $firstColor, rgba(0, 0, 0, 0));
}

.skills {
  //image size
  width: 50%;
}

.skills-parent {
  background-color: $xr-red0;
}

footer {
    padding: 3%; 
}*/