@import 'palette';
$amount: 3%;
html,
body {
    position: relative;
    background: linear-gradient($mainClear, darken($mainClear, $amount));
}

#footer {
    background: linear-gradient($mainDark, darken($mainDark, $amount));
}

#name {
    height: 5rem;
}

.even,
#navbar {
    background: linear-gradient($mainLight, darken($mainLight, $amount));
}

#footer {
    padding: 3rem 0;
}

.section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.image-container {
    padding: 1rem;
}