@import 'palette';
//letter title
.transparent {
    color: transparent;
    font-size: 0rem;
}

.xaviro,
.com {
    transition: font-size 0.5s ease, color 1.5s;
}

//bar name
#scrollFade {
    display: none;
}

#header-logo,
.lead {
    opacity: 0;
    transition: all 2s ease;
}

.navbar-fixed-top {
    padding: 0.5rem 0;
    transition: padding .3s;
}
