.navbar-custom {
    box-shadow: 0px 0px 10px 1px $gray2;
    .navbar-brand {
        transition: all ease .3s;
        color: $black;
        &:hover,
        &:focus {
            color: $white;
        }
    }
    .navbar-nav {
        > li > a {
            color: $white;
            transition: color .3s ease, background-color .3s ease;
            &:hover,
            &:focus {
                color: $black;
                background-color: $white;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                background-color: darken($blue, 5%);
            }
        }
    }
    .navbar-toggle {
        border-radius: 2rem;
        border-color: transparent;
        &:hover {
            background-color: $black;
        }
        .icon-bar {
            background-color: $white;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $blue;
    }
}
