<!DOCTYPE html>
<html lang="en" ng-app="appFolio" ng-controller="mainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Template</title>
    
    <!-- Removes # in Angular routes -->
    <base href="/">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    
    <!-- Compiled and concatenated custom scss -->
    <link rel="stylesheet" href="temp/style.css">
    
    <!-- Angular JS and Modules -->
    <script src="bower_components/angular/angular.js"></script>
    
    <!-- Google font for resume -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    
  </head>
  
  <body class="text-center" data-spy="scroll" data-target="#collapsible">
    
    <!-- Header-->
    <header id="header">
      
      <div class="container-fluid">
        <div class="row">
          <img class="img-circle" id="header-logo" src="img/x.png">
          <div class="col-xs-12">
            <h1 class="name">
            <span class="com">w</span><span class="com">w</span><span class="com">w</span><span class="com">.</span>
            <span>XAVI</span><span class="xaviro transparent">E</span><span class="xaviro transparent">R</span><span class="xaviro transparent"> </span>
            <span>R</span><span class="xaviro transparent">E</span><span class="xaviro transparent">Y</span><span class="xaviro transparent">E</span><span class="xaviro transparent">S</span><span class="xaviro transparent"> </span>
            <span>O</span><span class="xaviro transparent">C</span><span class="xaviro transparent">H</span><span class="xaviro transparent">O</span><span class="xaviro transparent">A</span>
            <span class="com">.</span><span class="com">c</span><span class="com">o</span><span class="com">m</span>
            </h1>
            
            <hr>
            
            <p><span class="lead">Full-Stack JavaScript Developer</span></p>
            
          </div>
        </div>
        
      </header>
      
      <!-- Navbar-->
      <div id="navParent">
        <nav class="navbar navbar-custom" id="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              
              <!-- Collapsible button -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              
              <!-- Navbar Brand -->
              <a class="navbar-brand" href="#">
                <span><img class="img-circle" alt="xaviro.com" src="img/xs.png">
                  <span id="scrollFade"> Xavier Reyes Ochoa <span class="half-size">Developer</span></span></span>
                </a>
                
              </div>
              
              <!-- Collapsible -->
              <div class="collapse navbar-collapse" id="collapsible">
                <ul class="nav navbar-nav navbar-right">
                  
                  <li class="active"><a href="#portfolio">Portfolio<span class="sr-only">(current)</span></a></li>
                  <li><a href="#skillset">Skill Set</a></li>
                  <li><a href="#experience">Experience</a></li>
                  <li><a href="#contact">Contact</a></li>
                  
                </ul>
              </div>
              
            </div>
          </nav>
        </div>
        
        
        
        <!-- Project section -->
        <section id="portfolio" class="odd section">
          
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h2>Portfolio</h2>
                <hr>
              </div>
            </div>
            
            <article>
              
              <div class="container-fluid">
                <div class="row">
                  
                  <div class="col-sm-4 col-xs-12 image-container" ng-repeat="item in [1,2,3,4,5,6]">
                    
                    <a href="#" class="link-block">
                      <div class="full-color">
                        <div class="zoom-icon">
                          <span class="glyphicon glyphicon-zoom-in"></span>
                        </div>
                      </div>
                      <img src="img/p4.png" class="img-responsive" alt="">
                    </a>
                    
                  </div>
                  
                </div>
              </div>
              
            </article>
            
          </section>
          
          
          <!-- Skillset section -->
          <section id="skillset" class="even section">
            
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <h2>Skillset</h2>
                  <hr>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-3 col-xs-4 image-container" ng-repeat="skill in skills">
                  
                  <img ng-src="img/{{skill.icon}}.png" data-toggle="tooltip" data-placement="top" title="{{skill.name}}" alt="{{skill.name}}">
                  
                </div>
              </div>
              
            </section>
            
            <!-- Experience section -->
            <section id="experience" class="odd section">
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h2>Experience</h2>
                    <hr>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-3 col-xs-6 image-container" data-toggle="tooltip" data-placement="top" title="More details on my resume" ng-repeat="job in jobs">
                    
                    <!-- Experience section -->
                    <img ng-src="img/{{job.logo}}.png" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <h4>{{job.name}}</h4>
                    <p class="hidden-xs">{{job.desc}}</p>
                    
                  </div>
                </div>
                
              </section>
              
              <!-- Large modal -->
              
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="resume">
                      <div id="resume-head" class="text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1>Xavier Reyes Ochoa</h1>
                        <h6>6320 Brooklyn Ave NE, Seattle  WA | (406) 459-7189 | xareyesochoa@gmail.com | Portfolio @ <a href="http://xaviro.com">xaviro.com</a></h6>
                        <p>
                        Full-Stack JavaScript Developer and Designer with an engineering background keen on contributing with logical thinking and professional experience toward creating great modern responsive web apps</p>
                      </div>
                      <div id="resume-body">
                        <h3>Qualifications</h3>
                        <article>
                          <ul class="circle-list">
                            <li> Solid knowledge of HTML, CSS and Javascript current standards and cross browser compatibility.</li>
                            <li> Object Oriented Programming and design patterns mindset with Angular as the main MVC framework.</li>
                            <li> Efficient workflow management using tools like Bash, Git, Gulp, npm, bower, Sass and Yeoman.</li>
                            <li> Back-end javascript savvy utilizing Node.js with Express and Connect frameworks.</li>
                            <li> Relational and nonrelational database administration experience in MongoDB and SQL.</li>
                            <li> Creative design skills with audio, image and video using Logic Pro, Photoshop, Final Cut and After Effects.</li>
                            <li> Positive attitude, strong work ethic, out-of-the-box thinking and high level of professional integrity.</li>
                            <li> Bilingual qualifications as an English proficient and Spanish native speaker.</li>
                          </ul>
                        </article>
                        <h3>Experience</h3>
                        <article>
                          <h4>
                          Full-Stack Javascript Developer | Freelance | Seattle, WA | September 2014 - Present (1 year)</h4>
                          <ul>
                            <li> Developed a responsive web app to visualize risk for a nurse practitioner using Angular and Bootstrap.</li>
                            <li> Developed and designed 2 responsive web games for a Seattle startup using Phaser. Created their website with an OAUTh3 Authorization and Authentication system using Node.js, Express and MongoDB.</li>
                            <li> Created a responsive website for a recording studio in Seattle.</li>
                            <li> Built a National Parks HDR Photo Gallery web app using Angular and Bootstrap served from github.</li>
                          </ul>
                          <h4>Visual Data Specialist II | Randstad at Google | Bothell, WA | September 2013 - August 2015 (2 years)</h4>
                          <ul>
                            <li> Provided worldwide outreach and support for Google Maps Engine and Gallery in English and Spanish.</li>
                            <li> Retrieved, analyzed and processed XML, JSON, HTML and KML data using Python and SQL inside FME.</li>
                            <li> Created a Google Maps API chrome extension and a legend/icon creator using HTML, CSS and Javascript.</li>
                            <li> Produced hundreds of maps, thousands of icons and performed over ten thousand Google Maps edits.</li>
                          </ul>
                          <h4>Engineering Technician | National Polytechnic School | Ecuador | January-August 2012 (8 months)</h4>
                          <ul>
                            <li> Assisted in designing Quito’s surface water monitoring network.</li>
                            <li> Made an environmental diagnosis for the area of study and wrote technical reports.</li>
                            <li> Worked with ArcGIS creating maps for the project.</li>
                          </ul>
                          <h4>GIS Technician | Ecuadorian Ministry of Development| Ecuador | October-December 2009 (3 months)</h4>
                          <ul>
                            <li> Worked with ArcGIS converting address databases into cartographic information.</li>
                            <li> Retrieved and manipulated geographic data with SQL and Python.</li>
                          </ul>
                        </article>
                        <h3>Education</h3>
                        <article>
                          <h4>Software and Web Developer | Self-taught | Online | 2013-2015</h4>
                          <h4>Environmental Engineer | National Polytechnic School | Quito, Ecuador | 2006-2012</h4>
                        </article>
                        <h3>Publications</h3>
                        <article>
                          <cite>Reyes, X. & Silva D. Environmental diagnosis and criteria for the design of a water quality monitoring network for the Metropolitan District of Quito. Quito: EPN, 2012.</cite>
                        </article>
                        <p id="resume-footer" class="text-center">References available upon request<p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Contact -->
                <section id="contact" class="even section">
                  
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h2>Contact Me</h2>
                        <hr>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-xs-8 col-xs-offset-2">
                        
                        <form name="sentMessage" id="contactForm" novalidate="" _lpchecked="1">
                          <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                              <p class="help-block text-danger"></p>
                            </div>
                          </div>
                          <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Email Address</label>
                              <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
                              <p class="help-block text-danger"></p>
                            </div>
                          </div>
                          <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Phone Number</label>
                              <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                              <p class="help-block text-danger"></p>
                            </div>
                          </div>
                          <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Message</label>
                              <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                              <p class="help-block text-danger"></p>
                            </div>
                          </div>
                          <br>
                          <div id="success"></div>
                          <div class="row">
                            <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </section>
                
                
                <!-- Footer -->
                <footer id="footer">
                  
                  <img ng-src="{{icon}}" ng-repeat="icon in icons">
                  <small>Developed and designed by <a href='mailto:x.a.reyes-ochoa@hotmail.com'>Xavi Ro</a>. &copy; 2015. All rights reserved.</small>
                  
                </footer>
                
                <!-- jQuery first, then Bootstrap JS. -->
                <script src="bower_components/jquery/dist/jquery.js"></script>
                <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
                
                <!-- Concatenated custom scripts -->
                <script src="temp/app.js"></script>
                
              </body>
            </html>