
  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
          font-size: 200%;

      
    height: 1000px; /* fallback for older browsers 
    height: 100vh;*/
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
  }

  .parallax__group {
    position: relative;
    height: 600px; /* fallback for older browsers 
    height: 100vh;*/
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
  }



  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;





  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;




  }




  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }


  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }


  #group3 {
    z-index: 5; /* slide over group 2 and 4 */
  }


  #group4 {
    z-index: 3; /* slide under group 3 and 5 */
  }


  #group5 {
    z-index: 5; /* slide over group 4 and 6 */
  }


  #group6 {
    z-index: 3; /* slide under group 5 and 7 */
  }


  #group7 {
    z-index: 5; /* slide over group 7 */
  }

