<!-- Google font for resume -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<div class="modal-subcontainer">
    <div class="text-center modal-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Xavier Reyes Ochoa</h1>
        <h6>6320 Brooklyn Ave NE, Seattle  WA | (406) 459-7189 | x.a.reyes-ochoa@hotmail.com </h6>
        <p>
        Full-Stack JavaScript Developer and Designer with an engineering background keen on contributing with logical thinking and professional experience toward creating great modern responsive web apps</p>
    </div>
    <div id="resume-body">
        <h3>Qualifications</h3>
        <article>
            <ul class="circle-list">
                <li> Solid knowledge of HTML, CSS and Javascript current standards and cross browser compatibility.</li>
                <li> Object Oriented Programming and design patterns mindset with Angular as the main MVC framework.</li>
                <li> Efficient workflow management using tools like Bash, Git, Gulp, npm, bower, Sass and Yeoman.</li>
                <li> Back-end javascript savvy utilizing Node.js with Express and Connect frameworks.</li>
                <li> Relational and nonrelational database administration experience in MongoDB and SQL.</li>
                <li> Creative design skills with audio, image and video using Logic Pro, Photoshop, Final Cut and After Effects.</li>
                <li> Positive attitude, strong work ethic, out-of-the-box thinking and high level of professional integrity.</li>
                <li> Bilingual qualifications as an English proficient and Spanish native speaker.</li>
            </ul>
        </article>
        <h3>Experience</h3>
        <article>
            <h4>
            Full-Stack Javascript Developer | Freelance | Seattle, WA | September 2014 - Present (1 year)</h4>
            <ul>
                <li> Developed a responsive web app to visualize risk for a nurse practitioner using Angular and Bootstrap.</li>
                <li> Developed and designed 2 responsive web games for a Seattle startup using Phaser. Created their website with an OAUTh3 Authorization and Authentication system using Node.js, Express and MongoDB.</li>
                <li> Created a responsive website for a recording studio in Seattle.</li>
                <li> Built a National Parks HDR Photo Gallery web app using Angular and Bootstrap served from github.</li>
            </ul>
            <h4>Visual Data Specialist II | Randstad at Google | Bothell, WA | September 2013 - August 2015 (2 years)</h4>
            <ul>
                <li> Provided worldwide outreach and support for Google Maps Engine and Gallery in English and Spanish.</li>
                <li> Retrieved, analyzed and processed XML, JSON, HTML and KML data using Python and SQL inside FME.</li>
                <li> Created a Google Maps API chrome extension and a legend/icon creator using HTML, CSS and Javascript.</li>
                <li> Produced hundreds of maps, thousands of icons and performed over ten thousand Google Maps edits.</li>
            </ul>
            <h4>Engineering Technician | National Polytechnic School | Ecuador | January-August 2012 (8 months)</h4>
            <ul>
                <li> Assisted in designing Quito’s surface water monitoring network.</li>
                <li> Made an environmental diagnosis for the area of study and wrote technical reports.</li>
                <li> Worked with ArcGIS creating maps for the project.</li>
            </ul>
            <h4>GIS Technician | Ecuadorian Ministry of Development| Ecuador | October-December 2009 (3 months)</h4>
            <ul>
                <li> Worked with ArcGIS converting address databases into cartographic information.</li>
                <li> Retrieved and manipulated geographic data with SQL and Python.</li>
            </ul>
        </article>
        <h3>Education</h3>
        <article>
            <h4>Software and Web Developer | Self-taught | Online | 2013-2015</h4>
            <h4>Environmental Engineer | National Polytechnic School | Quito, Ecuador | 2006-2012</h4>
        </article>
        <h3>Publications</h3>
        <article>
            <cite>Reyes, X. & Silva D. Environmental diagnosis and criteria for the design of a water quality monitoring network for the Metropolitan District of Quito. Quito: EPN, 2012.</cite>
        </article>
        <p id="resume-footer" class="text-center">References available upon request
            <p>
            </div>
        </div>