<link rel="apple-touch-icon" sizes="57x57" href="./assets/res/favicon/apple-touch-icon-57x57.png?v=2">
<link rel="apple-touch-icon" sizes="60x60" href="./assets/res/favicon/apple-touch-icon-60x60.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="./assets/res/favicon/apple-touch-icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="76x76" href="./assets/res/favicon/apple-touch-icon-76x76.png?v=2">
<link rel="apple-touch-icon" sizes="114x114" href="./assets/res/favicon/apple-touch-icon-114x114.png?v=2">
<link rel="apple-touch-icon" sizes="120x120" href="./assets/res/favicon/apple-touch-icon-120x120.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="./assets/res/favicon/apple-touch-icon-144x144.png?v=2">
<link rel="icon" type="image/png" href="./assets/res/favicon/favicon-32x32.png?v=2" sizes="32x32">
<link rel="icon" type="image/png" href="./assets/res/favicon/favicon-96x96.png?v=2" sizes="96x96">
<link rel="icon" type="image/png" href="./assets/res/favicon/favicon-16x16.png?v=2" sizes="16x16">
<link rel="manifest" href="./assets/res/favicon/manifest.json?v=2">
<link rel="mask-icon" href="./assets/res/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
<link rel="shortcut icon" href="./assets/res/favicon/favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="./assets/res/favicon/mstile-144x144.png?v=2">
<meta name="msapplication-config" content="./assets/res/favicon/browserconfig.xml?v=2">
<meta name="theme-color" content="#35bed9">
