<div id="resume-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="Resume">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Google font for resume -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
            <div class="modal-subcontainer">
                <div id="resume-head" class="text-center modal-head">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <img src="./assets/img/close.svg">
                    </button>
                    <h1>Xavier Reyes Ochoa</h1>
                    <h6>Seattle, WA | x.a.reyes-ochoa@hotmail.com</h6>
                    <p>Full-Stack JavaScript Developer and Designer keen on contributing with logical thinking, creativity and professional experience toward completing modern web projects</p>
                </div>
                <div id="resume-body">
                    <h3>Qualifications</h3>
                    <article>
                        <ul class="circle-list">
                            <li>Solid knowledge of HTML, CSS and Javascript current standards and cross browser compatibility.</li>
                            <li>Front-end experience with responsive design, CSS3, AJAX,  JQuery, D3.js, GSAP and Bootstrap.</li>
                            <li>Back-end experience with Node.js, Express, Authorization/Authentication and RESTful APIs.</li>
                            <li>Object Oriented Programming and Design Patterns mindset with Angular as the main MVC framework.</li>
                            <li>Creative graphic and UI design skills with Photoshop, Illustrator, and SVG code.</li>
                            <li>Efficient workflow management with Bash, Git, Gulp/Grunt, Yarn/ npm/Bower, and Sass.</li>
                            <li>Relational and nonrelational database administration using MongoDB, Firebase and SQL.</li>
                            <li>Positive attitude, strong work ethic, out-of-the-box thinking and high level of professional integrity.</li>
                            <li>Bilingual qualifications as an English proficient and Spanish native speaker.</li>
                        </ul>
                    </article>
                    <h3>Experience</h3>
                    <article>
                        <h4>Front End Developer | Killer Infographics | Seattle, WA | 2016 - Present</h4>
                        <ul>
                            <li>Developed many interactive sites for Starbucks Training Program using fullpage.js, vivus.js, and Illustrator. Proposed and implemented a gulp setup that adapted to their system saving them hours of work.</li>
                            <li>Built various infographics for Sesame Workshop and Class Appraisal using D3.js, CSS3 animations, csv data, topojson projections, and JQuery ensuring cross-browser compatibility including IE.</li>
                            <li>Assisted in the development of Killer Infographics client authentication system using React and Firebase.</li>
                            <li>Created a microsite for the Arizona Department of Environmental Quality using GSAP and svg graphics.</li>
                        </ul>
                        <h4>Full-Stack Javascript Developer | Freelancer | Seattle, WA | 2013 - Present</h4>
                        <ul>
                            <li>Developed the Nintendo Disney Art Academy official website for Enter the Studio using Nintendo’s SEO practices and analytics. Tested responsive design, multi language support, and cross-browser compatibility including the Wii and 3DS consoles and their developer tools.</li>
                            <li>Created a stylist business website, a T-shirt ecommerce site, and a nurse practitioner risk visualizer app.</li>
                            <li>Built a web game and a gaming  website with an Authentication system and RESTful APIs using AJAX, Node.js, MongoDB, Passport and Phaser.</li>
                        </ul>
                        <h4>Visual Data Specialist II & GIS Specialist | Randstad at Google | Bothell, WA | 2013 - 2015</h4>
                        <ul>
                            <li>Provided worldwide bilingual outreach and support for Google Maps Engine and APIs.</li>
                            <li>Retrieved, analyzed and processed XML, JSON, and KML data using Python and other tools.</li>
                            <li>Created an in-house chrome extension to using HTML, Canvas, CSS and Javascript.</li>
                            <li>Produced maps, thousands of icons and performed over ten thousand Google Maps edits.</li>
                        </ul>
                    </article>
                    <h3>Education</h3>
                    <article>
                        <h4>Full-Stack JavaScript Developer | E-learning | Lynda, W3Schools, Code School & Others | 2013 - Present</h4>
                        <h4>Bachelor of Engineering | National Polytechnic School | Quito, Ecuador | 2006 - 2012</h4>
                    </article>
                    <h3>Publications</h3>
                    <article>
                        <cite>Reyes, X. &amp Silva D. Environmental diagnosis and criteria for the design of a water quality monitoring network for the Metropolitan District of Quito. Quito: EPN, 2012.</cite>
                    </article>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
