<div id="resume-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="Resume">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Google font for resume -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
            <div class="modal-subcontainer">
                <div class="text-center modal-head">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Xavier Reyes Ochoa</h1>
                    <h6>Seattle, WA | x.a.reyes-ochoa@hotmail.com</h6>
                    <p>
                        Full-Stack JavaScript Developer and Designer with an engineering background keen on contributing with logical thinking and professional experience toward creating great modern responsive web apps</p>
                </div>
                <div id="resume-body">
                    <h3>Qualifications</h3>
                    <article>
                        <ul class="circle-list">
                            <li>Solid knowledge of HTML, CSS and Javascript current standards and cross browser compatibility.
                            </li>
                            <li>Object Oriented Programming and Design Patterns mindset with AngularJS as the main MVC framework.</li>
                            <li>Back-end experience in Node.js, Express, Authorization/Authentication and RESTful APIs.</li>
                            <li>Relational and nonrelational database administration using SQL and MongoDB.</li>
                            <li>Efficient workflow management with Bash, Git, Gulp, npm, Bower, Sass and Browserify.</li>
                            <li>Creative graphic and UI design skills with CSS3, JQuery, Photoshop, and Illustrator.
                            </li>
                            <li>Positive attitude, strong work ethic, out-of-the-box thinking and high level of professional integrity.</li>
                            <li>Bilingual qualifications as an English proficient and Spanish native speaker.</li>
                        </ul>
                    </article>
                    <h3>Experience</h3>
                    <article>
                        <h4>
            Full-Stack Javascript Developer | Freelance | Seattle, WA | 2013 - Present</h4>
                        <ul>
                            <li>Developed a Class Appraisal infographic for Killer Infographics using D3.js.
                            </li>
                            <li>Created a responsive web app to visualize risk for a nurse practitioner using AngularJS.
                            </li>
                            <li>Built a game and a website with an Authentication system and a RESTful API using AJAX, Node.js, MongoDB, Passport and Phaser.
                            </li>
                        </ul>
                        <h4>Visual Data Specialist II &amp GIS Specialist | Randstad at Google | Bothell, WA | 2013 - 2015</h4>
                        <ul>
                            <li>Provided worldwide bilingual outreach and support for Google Maps Engine and APIs.
                            </li>
                            <li>Retrieved, analyzed and processed XML, JSON, and KML data using Python and other tools.
                            </li>
                            <li>Created an in-house chrome extension and a canvas app using HTML, CSS and Javascript.
                            </li>
                            <li>Produced hundreds of maps, thousands of icons and performed over ten thousand Google Maps edits.
                            </li>
                        </ul>
                        <h4>Engineering Technician | National Polytechnic School | Ecuador | 2012 - 2013</h4>
                        <ul>
                            <li>Assisted in designing City of Quito surface water monitoring network.</li>
                            <li>Made an environmental diagnosis for the area of study and created maps for the project using ArcGIS.
                            </li>
                        </ul>
                        <h4>GIS Technician | Ecuadorian Ministry of Development| Ecuador | 2008 - 2009</h4>
                        <ul>
                            <li>Transformed address databases into cartographic information.</li>
                        </ul>
                    </article>
                    <h3>Education</h3>
                    <article>
                        <h4>Web Developer | Self-taught | Lynda, W3Schools, Code School & Others | 2013 - Present</h4>
                        <h4>Environmental Engineer | National Polytechnic School | Quito, Ecuador | 2006 - 2012</h4>
                    </article>
                    <h3>Publications</h3>
                    <article>
                        <cite>Reyes, X. &amp Silva D. Environmental diagnosis and criteria for the design of a water quality monitoring network for the Metropolitan District of Quito. Quito: EPN, 2012.</cite>
                    </article>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
