<div class="modal-subcontainer">
    <div class="text-center modal-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>{{project.title}}</h1>
        <p>{{project.description}}</p>
        <hr>
        <img class="img-responsive" ng-src="img/portfolio/p{{project.number}}.png">
        <div id="arrow-parent">
            <img id="arrow-left" src="img/arrow-left.png" ng-click="previous()">
            <img id="arrow-right" src="img/arrow-right.png" ng-click="next()">
        </div>
        <hr>
        <p><b>Client:</b> {{project.client}}</p>
        <p><b>Key Technologies Used:</b> {{project.technology}}</p>
        <a href="{{project.link}}" class="btn btn-lg" role="button">Go to Site</a>
    </div>
</div>