<div class="modal-subcontainer">
    <div class="text-center modal-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>{{project.title}}</h1>
        <p>{{project.description}}</p>
        <hr>
        <div id="portfolio-image-wrapper">
            <img class="img-responsive" ng-src="./assets/img/portfolio/p{{project.number}}.png" id="portfolio-image">
            <div id="arrow-left" ng-click="previous()"><img src="./assets/img/arrow-left.png"></div>
            <div id="arrow-right" ng-click="next()"><img src="./assets/img/arrow-right.png"></div>
        </div>
        <hr>
        <p><b>Client:</b> {{project.client}}</p>
        <p><b>Key Technologies Used:</b> {{project.technology}}</p>
        <a href="{{project.link}}" class="btn btn-lg" role="button">Go to Site</a>
    </div>
</div>
