#arrow-parent {
    height: 0;
}

#arrow-left,
#arrow-right {
    position: relative;
    box-shadow: 0 0 0 darken($xr-gray1, 12%);
    top: -180px;
    height: 60px;
    opacity: 0.5;
    transition: opacity .3s ease-in-out; 
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

#arrow-left {
    transform: translateX(-600%);
}

#arrow-right {
    transform: translateX(600%);
}

@media (max-width: 630px) {
    #arrow-parent {
        height: 30px;
        margin-top: 15px;
    }
    #arrow-left,
    #arrow-right {
        position: static;
        height: 40px;
    }
    #arrow-left {
        transform: translateX(-350%);
    }
    #arrow-right {
        transform: translateX(350%);
    }
}

@media (max-width: 440px) {
    #arrow-left {
        transform: translateX(-150%);
    }
    #arrow-right {
        transform: translateX(150%);
    }
}