section {
	@extend .reset;
}
.squareParent{
	padding:10vw;
}
.newlink {

}

.project {
    //@extend .reset;
    margin: 0vw;
    padding: 0;
    //width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.square {
    //@extend .reset;
    height: 33.3vw;
    transition: all 0.5s ease;
    opacity: 0;
}

.square:hover {
    background-color: rgba($xr-orange1, 0.9);
    ;
    opacity: 1;
}

.glyphicon {
    color: $xr-gray0;
    position: relative;
    padding-top: 50%;
    transform: translateY(-5vw);
    font-size: 10vw;
}